.scene {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('../assets/stars.jpg');
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scene .rocket {
  animation: animate 0.2s ease infinite;
}

.scene .rocket img {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

@keyframes animate {
  0% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
}

.scene .rocket::before {
  content: '';
  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 200px;
  background: linear-gradient(#00d0ff, transparent);
}

.scene .rocket::after {
  content: '';
  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 200px;
  background: linear-gradient(#00d0ff, transparent);
  filter: blur(20);
}

.launches {
  z-index: 1;
  position: relative;
}

.particlesBackground {
  position: 'absolute';
  width: 100%;
  height: 100%;
}
